{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article class="homepage">
        <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
            <div class='carousel-container'>
                <div class='carousel-item has-background is-active'>
                    <a href="https://server.nitrado.net/fre/location-de-serveur-de-jeux" target="_blank">
                        <img class="is-background" src="{{ asset('images/banner-1.jpg') }}" alt="" width="640"
                             height="310">
                    </a>
                </div>
                <div class='carousel-item has-background'>
                    <a href="http://www.ouikos.com/fr/129-fives-tv" target="_blank">
                        <img class="is-background" src="{{ asset('images/banner-2.jpg') }}" alt="" width="640"
                             height="310"/>
                    </a>
                </div>
                <div class='carousel-item has-background'>
                    <a href="https://www.instant-gaming.com/en/?igr=FivesTv" target="_blank">
                        <img class="is-background" src="{{ asset('images/banner-3.jpg') }}" alt="" width="640"
                             height="310"/>
                    </a>
                </div>
                <div class='carousel-item has-background'>
                    <a href="https://qanga.iolacorp.com/" target="_blank">
                        <img class="is-background" src="{{ asset('images/banner-4.jpg') }}" alt="" width="640"
                             height="310"/>
                    </a>
                </div>
            </div>
            <div class="carousel-navigation">
                <div class="carousel-nav-left">
                        <span class="icon has-text-white">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </span>
                </div>
                <div class="carousel-nav-right">
                        <span class="icon has-text-white">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </span>
                </div>
            </div>
        </div>

        {#ONLINE#}
        <section class="grey columns section stream-online-only">
            <div class="column is-three-quarters">
                <h2 id="stream-title"></h2>
            </div>
            <div class="column bkg-red">
                <h3>Nombre de viewers : <span id="stream-viewers"></span></h3>
            </div>
        </section>
        {#OFFLINE#}
        <section class="grey section stream-offline-only">
            <h2>Sorry les mecs jsuis pas co</h2>
        </section>

        <section class="twitch-player">
            <iframe src="https://embed.twitch.tv?channel=fivestv&amp;theme=dark&amp;referrer=https%3A%2F%2Ffivestv.fr%2F"
                    allowfullscreen="" scrolling="no" frameborder="0" allow="autoplay; fullscreen"></iframe>
        </section>

        <section class="grey">
            <div class="container is-fluid">
                <ul class="stream-links">
                    <li><a href="https://www.twitch.tv/products/fivestv/ticket" target="_blank">
                            <figure>
                                <img src="{{ asset('images/btn-4.png') }}" alt="">
                                <figcaption>
                                    <h2>subscribe</h2>
                                    <span>Abonne-toi et obtiens plein d'avantage !</span>
                                </figcaption>
                            </figure>
                        </a></li>
                    <li><a href="https://www.twitch.tv/bits" target="_blank">
                            <figure>
                                <img src="{{ asset('images/btn-2.png') }}" alt="">
                                <figcaption>
                                    <h2>bits and badges</h2>
                                    <span>Soutien l'association, passe ton message en live et gagne des badges sur le chat !</span>
                                </figcaption>
                            </figure>
                        </a></li>
                    <li><a href="https://streamlabs.com/fivestv" target="_blank">
                            <figure>
                                <img src="{{ asset('images/btn-1.png') }}" alt="">
                                <figcaption>
                                    <h2>donation</h2>
                                    <span>Démontre ton soutien pour MrFive et contribue à la mise en place de ses projets !</span>
                                </figcaption>
                            </figure>
                        </a></li>
                    <li><a href="https://www.twitch.tv/fivestv/videos/all" target="_blank">
                            <figure>
                                <img src="{{ asset('images/btn-3.png') }}" alt="">
                                <figcaption>
                                    <h2>replay live</h2>
                                    <span>Accède aux rediffusions instantannées des lives !</span>
                                </figcaption>
                            </figure>
                        </a></li>
                </ul>
            </div>
        </section>

        <section class="section container accordion-block">
            <h3>apprends en un peu plus sur nous !</h3>
            <button class="accordion"><span></span>pourquoi avoir créé la five'stv ?</button>
            <div class="panel">
                <p>Afin de prouver à tous que l’handicap n’est pas une barrière et que nous pouvons en faire une force,
                    mais également de propager une mixité conséquente dans le monde du jeu vidéo !</p>
            </div>

            <button class="accordion">quel est le but de la five'stv ?</button>
            <div class="panel">
                <p>Son but est de réunir des femmes et des hommes en situation de handicap ou non afin de créer une
                    mixité dans le monde du gaming et du eSport.</p>
            </div>

            <button class="accordion">pourquoi s'interesser au monde du handicap ?</button>
            <div class="panel">
                <p>Le handicap dans le monde du jeu vidéo est très répandu et touche de nombreux joueurs, mais il n’est
                    pratiquement pas mis en avant et peu de personnes en sont informées. Une grande partie de nos membre
                    est touchée directement ou indirectement par le handicap et il est important de répandre les
                    informations sur ce sujet !</p>
            </div>

            <button class="accordion">je suis un gamer, en quoi puis-je aider la five'stv ?</button>
            <div class="panel">
                <p>Vous pouvez nous aider simplement en parlant de nous autour de vous afin de sensibiliser d’autres
                    personnes, nous rejoindre et partager notre cause, ou bien en vous investissant dans notre
                    association et en nous aidant à gérer les différentes plateformes proposées.</p>
            </div>

            <button class="accordion">je suis un gamer en situation de handicap, qu'est-ce que la five'stv peut
                m'apporter ?
            </button>
            <div class="panel">
                <p>Elle peut vous donner l’opportunité de vous lancer là ou vous n’osez pas encore mettre les pieds :
                    Stream, eSport, etc.. mais également vous intégrer dans une communauté multigaming ouverte et
                    soudée.</p>
            </div>
            <button class="accordion">je souhaite rejoindre la five'stv, comment dois-je faire ?</button>
            <div class="panel">
                <p>Pour nous rejoindre il vous suffit de nous contacter via nos réseaux sociaux ou directement via notre
                    site ou discord.</p>
            </div>

            <a href="/qui-sommes-nous" class="link">En savoir plus</a>
        </section>
    </article>
{% endblock %}
