<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}">
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">#}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav id="nav">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/qui-sommes-nous">Qui sommes-nous</a></li>
        <li><a href="/devenir-membre">Devenir membre</a></li>
        {#<li><a href="/">Accueil</a></li>#}
    </ul>
</nav>

<header>
    <a href="/" class="logo"><img src="{{ asset('images/logo-full.png') }}" alt="Logo Five'sTV"></a>
    <div class="social-links">
        <ul class="list">
            <li>
                <a href="https://www.facebook.com/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-facebook"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/FivesTvFra" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-youtube"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/fivestv" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-twitch"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mrfiive/" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-instagram"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://discordapp.com/invite/ar8rSgC" target="_blank">
                    <span class="icon is-medium has-text-white">
                      <i class="fab fa-discord"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/groups/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                      <i class="fab fa-steam"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>

<section>
    {% block body %}{% endblock %}
</section>


<footer class="section no-padding">
    {#<section class="container">#}
    <div class="top-footer">
        <a href="/"><img src="{{ asset('images/logo-full.png') }}" alt="Logo Five'sTV"></a>
        <div class="carousel-footer">
            <div class='carousel carousel-animated carousel-animate-fade' data-autoplay="true">
                <div class='carousel-container'>
                    <div class='carousel-item has-background is-active'>
                        <a href="https://server.nitrado.net/fre/location-de-serveur-de-jeux" target="_blank">
                            <img class="is-background" src="{{ asset('images/nitrado.png') }}" alt="Nitrado">
                        </a>
                    </div>
                    <div class='carousel-item has-background'>
                        <a href="http://www.ouikos.com/fr/129-fives-tv" target="_blank">
                            <img class="is-background" src="{{ asset('images/ouikos.png') }}" alt="Ouikos">
                        </a>
                    </div>
                    <div class='carousel-item has-background'>
                        <a href="https://www.instant-gaming.com/en/?igr=FivesTv" target="_blank">
                            <img class="is-background" src="{{ asset('images/instant-gaming.png') }}"
                                 alt="Instant Gaming">
                        </a>
                    </div>
                    <div class='carousel-item has-background'>
                        <a href="https://qanga.iolacorp.com/">
                            <img class="is-background" src="{{ asset('images/qanga.png') }}" alt="Qanga">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <ul class="list-footer absolute left">
            <li><a href="#">Contact Professionel</a></li>
            {#<li><a href="">Signaler</a></li>#}
            <li><a href="#">Crédits</a></li>
        </ul>
        <span>Copyright Five’sTv</span>
        <ul class="list-footer absolute">
            <li>
                <a href="https://www.facebook.com/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-facebook"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/FivesTvFra" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-youtube"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/fivestv" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-twitch"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mrfiive/" target="_blank">
                    <span class="icon is-medium has-text-white">
                       <i class="fab fa-instagram"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://discordapp.com/invite/ar8rSgC" target="_blank">
                    <span class="icon is-medium has-text-white">
                      <i class="fab fa-discord"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/groups/FivesTv" target="_blank">
                    <span class="icon is-medium has-text-white">
                      <i class="fab fa-steam"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    {#</section>#}
</footer>

{% block javascripts %}
    <script src="{{ asset('dist/js/main.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
{% endblock %}
</body>
</html>
